@model BibliotecaEscolar.Web.Models.Libro

<h2>Detalles del Libro</h2>

<hr />

<dl class="row">

    <dt class="col-sm-3">Título</dt>
    <dd class="col-sm-9">@Model.Titulo</dd>

    <dt class="col-sm-3">Autor</dt>
    <dd class="col-sm-9">@Model.Autor</dd>

    <dt class="col-sm-3">Editorial</dt>
    <dd class="col-sm-9">@Model.Editorial</dd>

    <dt class="col-sm-3">Año</dt>
    <dd class="col-sm-9">@Model.Anio</dd>

    <dt class="col-sm-3">Existencias</dt>
    <dd class="col-sm-9">@Model.Existencias</dd>

    <dt class="col-sm-3">Categoría</dt>
    <dd class="col-sm-9">@Model.Categoria?.NombreCategoria</dd>

</dl>

<a asp-controller="Prestamos"
   asp-action="Create"
   asp-route-idLibro="@Model.IdLibro"
   class="btn btn-success">
    Solicitar Préstamo
</a>

<a asp-action="Index" class="btn btn-secondary">
    Regresar
</a>